@charset "utf-8";
/* CSS Document */

/***************************
           FONTS
***************************/

@font-face {
    font-family: 'fontinregular';
    src: url('../fonts/fontin/fontin-regular-webfont.eot');
    src: url('../fonts/fontin/fontin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin/fontin-regular-webfont.woff2') format('woff2'),
         url('../fonts/fontin/fontin-regular-webfont.woff') format('woff'),
         url('../fonts/fontin/fontin-regular-webfont.ttf') format('truetype'),
         url('../fonts/fontin/fontin-regular-webfont.svg#fontinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontinbold';
    src: url('../fonts/fontin/fontin-bold-webfont.eot');
    src: url('../fonts/fontin/fontin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin/fontin-bold-webfont.woff2') format('woff2'),
         url('../fonts/fontin/fontin-bold-webfont.woff') format('woff'),
         url('../fonts/fontin/fontin-bold-webfont.ttf') format('truetype'),
         url('../fonts/fontin/fontin-bold-webfont.svg#fontinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontinitalic';
    src: url('../fonts/fontin/fontin-italic-webfont.eot');
    src: url('../fonts/fontin/fontin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin/fontin-italic-webfont.woff2') format('woff2'),
         url('../fonts/fontin/fontin-italic-webfont.woff') format('woff'),
         url('../fonts/fontin/fontin-italic-webfont.ttf') format('truetype'),
         url('../fonts/fontin/fontin-italic-webfont.svg#fontinitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, a, p, li, .btn, label, span, input {
	font-family: 'fontinbold', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

/***************************
    HTML, BODY, WRAPPER
***************************/

body {
	background:url("../images/bg_stone.jpg");
}

#wrapper {
	background:url("../images/Diablo-3-Portrait.jpg") center no-repeat;
    background-size: 100% 80%  ; 
/*   overflow: hidden;*/
    /*    background-position: left;*/
	padding: 0;
	border: 2px solid #E3ECEB;
	margin-bottom: 20px;
    background-color: black;
}

/***************************
          HEADER
***************************/

header {

}


/***************************
           MAIN
***************************/

.sectionBorder {
	background:url("../images/border_wow%20(2).gif");
	width: 100%;
	height: 40px;
}

#main {
	padding: 2% 1% 1% 1%;
	text-align: center;
}

#main #pCont {
	/*background:url("../images/bg_copper.gif");*/
	padding: 55px 30px 10px 30px;
	margin: 0;
	
	/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	-moz-box-shadow:    inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	box-shadow:         inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	*/
}

#main #pCont p {
	font-size: 40px;
	text-align:inherit;
	color: #868584;
	/*color: #0A0A0A;*/
}

#main #pCont p .pFirst {
	font-size: 72px;
	line-height: 20px;
	margin-left: -7px;
}

#main .btnContainer {

}

#main .border-call {
	text-align: center;
	width: 70%;
	margin: 1.5% 15%;
}

#main .btnContainer .btn {
	height: 80px;
	font-size: 28px;
	background-color: #868584;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border: 2px solid transparent;
}

#main .btnContainer .btn:hover {
	height: 40px;
	font-size: 28px;
	color:#A12E2F;
	background-color: #341515;
	
	border: 2px solid #78FFF5;
}

#main form .form-group {
	text-align: left;
}

#main form {
	padding-top: 8%;
}

#main form .form-group label {
	font-size: 18px;
	color: #13CAE8;
}

#main .formBtn .btn {
	margin-top: 20px;
}

#main .formBtn .error {
	color: #13CAE8;
	margin: 10px 0 0 0;
}

#main .progress {
	background: #13CAE8;
	border: 2px solid #c1b577;
	height: 30px;
	position: relative;
}

#main .progress span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 20px;
	color: white;
}

#main .progress-bar {
	background: #c1b577;
}

#main #storyCont {
	text-align: center;
}

#main #storyCont p {
	font-size: 24px;
	color: #c1b577;
}

#main #storyCont span {
	background-color:#c1b577;
	padding: 0 8px;
	color: #2D2C2C;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/***************************
          FOOTER
***************************/

footer {
	text-align:inherit;
	color:#E3ECEB;
}

footer p {
	font-size: 16px;
	padding: 20px 1% 1% 1%;
	line-height: 20px;
}

footer p a {
	background-color:#c1b577;
	padding: 0 2px;
	color: #2D2C2C;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

footer p a:hover {
	background-color:#2D2C2C;
	color: #E3ECEB;
	text-decoration: none;
}