@charset "utf-8";
/* CSS Document */
*{
	margin:0;	
}
html, body{	
	height: 100%;
	font-size: 110%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: rgba(42,42,42,1.00);
}
.wrap{
  min-height: 94%;	
  margin-bottom: -50px;
}
.wrap:after{
  content: "";
  display: block;
}
footer, .wrap:after{
	height: 50px;
}
nav{
	padding-top:20px;	
}
a:hover{
	background: rgb(69, 153, 226) !important;
	color: rgb(243,243,243);
}
input[type=submit] {
margin: 10px;
}
.alarm{
	padding: 10px;	
}